.header{
    /* border: 1px solid black; */
    height: 90px;
    width: 100%;
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    /* !color for background */
    background: transparent;
    position: absolute;
    top: 0;
}
.header h2{
    margin-left: 180px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 1000;
    color: orangered;
    font-family: monospace;
    cursor: pointer;
}
.header button{
    margin-right: 140px;
    height: 30px;
    width: 120px;
    font-size: 17px;
    letter-spacing: 2px;
    background: orangered;
    border: none;
    color: white;
    border-radius: 0.3rem;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header button:hover{
    background: #000;
    transition: all 0.3s;
}